# Python virtual environment
venv/
**/venv/

# Python cache files
__pycache__/
**/*__pycache__*/
*.pyc
*.pyo
*.pyd

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

nutrition_tracker/__init__.py
